aiohttp==3.6.3    
async-timeout==3.0.1    
attrs==20.2.0   
cachetools==4.1.1    
certifi==2020.6.20
chardet==3.0.4    
discord==1.0.1    
discord.py==1.5.0   
idna==2.10     
multidict==4.7.6    
pip==20.2.3   
pycryptodomex==3.9.9    
requests==2.24.0   
setuptools==49.2.1   
six==1.15.0   
steam==1.0.2    
urllib3==1.25.11  
vdf==3.3      
yarl==1.5.1    
